table {
    width: 100%;
    margin-bottom: 30px;
}

section.loading {
  height: 100%;
  width: 100%;
  padding: 0;
}

.breadcrumb{
	padding: 20px 0;
}

/* Filters */
label.horizontal-center {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
}
.filter {
    float: left;
    padding-right: 3%;
}
.filter-clear-btn {
	float: left;
    margin-top: 14px;
}