table {
    width: 100%;
    margin-bottom: 30px;
}

section.loading {
  height: 100%;
  width: 100%;
  padding: 0;
}

.breadcrumb{
	padding: 20px 0;
}

/* Filters */
label.horizontal-center {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    font-weight: bold;
}
.filter {
    float: left;
    padding-right: 3%;
}