<div class="content-container">
    <section>
        <h3>Watchlists by Threat Level</h3>
        <app-bar-chart
            *ngIf="watchlistsByThreatlevel"
            [data]="watchlistsByThreatlevel"
        ></app-bar-chart>
    </section>
    <section>
        <h3>Top 10 IPs by Threat Score - Last 90 Days</h3>
        <div class="table-wrapper" *ngIf="top10IPsbyThreat && top10IPsbyThreat.length !== 0">
            <table mat-table [dataSource]="top10IPsbyThreat" matSort class="mat-elevation-z8 results-table">
                <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->

                <!-- IP address Column -->
                <ng-container matColumnDef="ipaddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
                    <td mat-cell *matCellDef="let element">
                        <a matTooltip="Click here to execute search." [routerLink]="['/detail/', element.ipaddress]">
                            {{element.ipaddress}}
                        </a>
                    </td>
                </ng-container>

                <!-- Threat Potential Score % Column -->
                <ng-container matColumnDef="threat_potential_score_pct">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Threat Potential Score % </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.threat_potential_score_pct}}
                    </td>
                </ng-container>

                <!-- Blacklist Class Column -->
                <ng-container matColumnDef="blacklist_class">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Blacklist Class </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.blacklist_class}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="top10IPsbyThreatColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: top10IPsbyThreatColumns;"></tr>
            </table>
        </div>

    </section>
    <section>
        <h3>Threat Type Breakdown - Last 90 Days</h3>
        <div class="threatTypeBreakdown">
            <div style="width:350px; height:390px;" *ngFor="let item of threatTypeBreakdown | keyvalue">
                <h4>{{item.key}}</h4>
                <app-pie-chart
                    [pieData]="item.value"
                ></app-pie-chart>
            </div>
        </div>
    </section>
    <section>
        <h3>Threat Score Volatility - Last 90 Days</h3>
        <app-calender-chart
            [calenderData]="threatScoreVolatility"
        ></app-calender-chart>
    </section>

    <section *ngIf="ipHotList && ipHotList.length !== 0">
        <h3>IP Hot List - All IPs by Risk Severity</h3>
        <div class="table-wrapper">
            <table mat-table [dataSource]="ipHotList" matSort class="mat-elevation-z8 results-table">
                <!-- IP address Column -->
                <ng-container matColumnDef="ipAddress">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> IP address </th>
                    <td mat-cell *matCellDef="let element">
                        <a matTooltip="Click here for IP details." [routerLink]="['/detail/', element.ipAddress]">
                            {{element.ipAddress}}
                        </a>
                    </td>
                </ng-container>

                <!-- Severity Rating Column -->
                <ng-container matColumnDef="severityScore">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Severity Rating </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.severityScore}}
                    </td>
                </ng-container>

                <!-- Blacklist Class Column -->
                <ng-container matColumnDef="blacklistClass">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Blacklist Class </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.blacklistClass}}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="ipHotListColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: ipHotListColumns;"></tr>
            </table>
        </div>
    </section>
</div>