.query-icon{
    text-align: center;
}
.ip-query {
    width: 100%;
    margin-bottom: 24px;
}

/* loading spinner */
content-container .loading {
  position: relative;
  padding: 0;
}

/* Search Box */

.search-width {
    width: 100%;
}
.content-container .mat-accordion .mat-expansion-panel{
    margin-top: 20px;
}
.search-query-title {
    font-size: 1.75em;
    font-weight: 700;
}
.mat-expansion-panel-header-title{
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
} 
.mat-chip.High {
    padding: 4px 4px 4px 12px;
    background-color: #FDC6CA;
    border: 3px solid #DC3445;
}
.mat-chip.Medium {
    padding: 4px 4px 4px 12px;
    background-color: #FFE9A9;
    border: 3px solid #FFC105;
}
.mat-chip.Low {
    padding: 4px 4px 4px 12px;
    background-color: #B8ECC3;
    border: 3px solid #27A745;
}
.mat-chip.Nuisance {
    padding: 4px 4px 4px 12px;
    background-color: #E0E0E0;
    border: 3px solid #686868;
}

/* save dialog */
.modify-option {
  margin: 5px;
}
.modify-title{
    margin-bottom: 5px;
}
.overwrite-title{
    margin-top: 5px;
    margin-bottom: 5px;
}
.save-title{
    margin-top: 0;
    margin-bottom: 5px;
}
.example-selected-value {
  margin: 15px 0;
}

/* Import Dialog */

.code-sample-box {
    margin-bottom: 1.25em;
    padding: 10px 15px;
    background: #fafafa;
    border: 1px solid #ddd;
    font-size: 13px;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.file-contents-description{
    margin-bottom: 0;
    font-size: 14px;
}


/* Search Results */

.risk-circles-grid-list {
    margin-bottom: 20px;
}
.risk-circles-grid-tile {
    padding-top: 10px;
    padding-bottom: 10px;
}

.results-table {
    width: 100%;
}

.dialog-input{
    width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}



/* Filters & CSV/JSON Export */

label.horizontal-center {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    font-weight: 700;
    font-size: 16px;
}
.filter-clear-btn {
    margin-top: 14px;
    margin-left: 15px;
}
.export-upgrade-message{
    font-size: 75%;
    text-align: right;
    cursor: pointer;
}
.export-component-box .mat-form-field{
    margin-right: 15px;
    max-width: 100px;
}
.hide {
    visibility: collapse;

}
@media screen and (min-width: 600px){
    .results-filter {
        float: left;
        padding-right: 3%;
    }
    .filter-clear-btn {
        float: right;
    }
}
@media screen and (min-width: 1200px){
    .export-component-box {
        float: right;
        width: auto;
        padding-right: 0;
    }
}



@media screen and (max-width: 700px){
    .cdk-column-blacklist_class{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .query-icon img{
        max-width: 100px;
    }
}
