.query-icon{
    text-align: center;
}
.ip-query {
    width: 100%;
    margin-bottom: 10px;
}


/* Search box */

.search-width {
    width: 100%;
}
.content-container .mat-accordion .mat-expansion-panel{
    margin-top: 20px;
}
.mat-expansion-panel-header-title{
    font-size: 1.75em;
    font-weight: bold;
    font-family: 'Open Sans',Helvetica,Arial,Lucida,sans-serif;
}
.mat-chip.search{
    padding: 4px 4px 4px 12px;
    border-width: 3px;
    border-style: solid;
}
.mat-chip.High {
  background-color: #FDC6CA;
  border-color: #DC3445;
}
.mat-chip.Medium {
  background-color: #FFE9A9;
  border-color: #FFC105;
}
.mat-chip.Low {
  background-color: #B8ECC3;
  border-color: #27A745;
}
.mat-chip.Nuisance {
  background-color: #E0E0E0;
  border-color: #686868;
}


/* Import Dialog */

.code-sample-box {
    margin-bottom: 1.25em;
    padding: 10px 15px;
    background: #fafafa;
    border: 1px solid #ddd;
    font-size: 13px;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.file-contents-description{
    margin-bottom: 0;
    font-size: 14px;
}


/* Search Results */

.risk-circles-grid-list {
    margin-bottom: 20px;
}
.risk-circles-grid-tile {
    padding-top: 10px;
    padding-bottom: 10px;
}

.results-table {
    width: 100%;
}

.dialog-input{
    width: 100%;
}

.button-row button,
.button-row a {
  margin-right: 8px;
}

label.horizontal-center {
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 15px;
    font-weight: bold;
}


/* CSV/JSON Export */

.export-upgrade-message{
    font-size: 75%;
    text-align: right;
    cursor: pointer;
}
.export-component-box .mat-form-field{
    margin-right: 15px;
    max-width: 100px;
}
.hide {
    visibility: collapse;

}
@media screen and (min-width: 600px){
    .results-filter {
        float: left;
        padding-right: 3%;
    }
}
@media screen and (min-width: 1200px){
    .results-filter {
        max-width: 25%;
        padding-right: 3%;
    }
    .results-filter.blacklist-class {
        padding-left: 0;
    }
    .export-component-box {
        float: right;
        width: auto;
        padding-right: 0;
    }
}




/* Import Dialog*/

.code-sample-box {
    margin-bottom: 1.25em;
    padding: 10px 15px;
    background: #fafafa;
    border: 1px solid #ddd;
    font-size: 13px;
}
.fileContainer {
    overflow: hidden;
    position: relative;
}
.fileContainer [type=file] {
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}
.file-contents-description{
    margin-bottom: 0;
    font-size: 14px;
}

.search.High {
  background-color: #dc3545;
}

.search.Medium {
  background-color: #ffc107;
}

.search.Low {
  background-color: #28a745;
}

.search.Nuisance {
  background-color: #686868;
}


@media screen and (max-width: 700px){
    .cdk-column-blacklist_class{
        display: none;
    }
}
@media screen and (max-width: 500px){
    .query-icon img{
        max-width: 100px;
    }
}
