<h1 mat-dialog-title>Edit User Note</h1>
<div mat-dialog-content>
    <mat-form-field class="dialog-input">
        <textarea matInput maxlength="1000" placeholder="Add a note here." [formControl]="userNoteInput" required></textarea>
        <mat-hint align="start">
            <mat-error *ngIf="userNoteInput.value.length === 1000">Note can't be longer than 1000 characters.</mat-error>
            <mat-error *ngIf="userNoteInput.invalid">{{getNameErrorMessage()}}</mat-error>
        </mat-hint>
        <mat-hint align="end">{{userNoteInput.value.length}} / 1000</mat-hint>
    </mat-form-field>
</div>
<div mat-dialog-actions align="end">
    <div class="button-row">
        <button mat-flat-button color="basic" (click)="onNoClick()">Cancel</button>
        <button mat-flat-button color="primary" (click)="closeDialog()">Save</button>
    </div>
</div>